body 
{
    width: 100%;
}

.autocomplete_completionListElement
{
    margin: 0px !important;
    padding:0 0 0 1px;
    background-color:White;
    color: windowtext;
    border: buttonshadow;
    border-width: 1px;
    border-style: solid;
    cursor: 'default';
    height: 60px;
    width:auto;
    overflow:auto;
    text-align: left;
    list-style: none;
}

.titulo
{
    width: 153px;
    color : #336699;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    font-family: "Tahoma";
    position:relative;
    left: 240px;
    top: 2px;
}
.menus
{
    position: relative;
    left: 220px;
    width: 149px;
    top: 15px;
}

.text
{
    color: #336699;
    position: relative;
    left: 210px;
    text-align:right;
    top: 16px;

}
.textbox
{
    position: relative;
    width: 145px;
    height: 20px;
    font-size: 11px;
    top: 15px;
    left: 220px;
}

.bCalendario
{
    position: relative;
    top: 19px;
    Height: 20px;
    Width: 23px;
    right: 360px;

}
.bId
{
    position: relative;
    right: 360px;
    top: 19px;
    Height: 20px;
    Width: 23px;
} 
.calendario
{
    position: relative;
    top: 18px;
    left: 220px;
    width: 150px;
}
.calendarioTitulo
{
    position: relative;
    left: 0px;
}

.messageAlert
{
    position: relative;
    right: 200px;
    top: 15px;
    color: #FF0000;
    
}
.messageAlert2
{
    position: relative;
    right: 280px;
    top: 15px;
    color: #FF0000;
}
.messageAlert3
{
   position: relative;
    right: 250px;
    top: 15px;
   color: #009900;
}
.bAgregar
{
    position: relative;
    left: 260px;
    top: 7px;
}
.porcentaje
{
    text-align: right;
    position: relative;
    right: 310px;
    top: 15px;
    color: #336699;
}
.idRegistro
{
    position: relative;
    left: 50px;
    width: 500px;
    top: 8px;
}
.idPrueba
{
	position: relative;
    left: 130px;
    width: 700px;   
    bottom: -2px;
}

.bCursos
{
    Height: 20px;
    Width: 23px;
    position: relative;
    right: 360px;
    top: 19px;

}

.bCalendario2
{
    Height: 20px;
    Width: 23px;
    position: relative;
    right: 358px;
    top: 19px;
}
.primaveraBasico
{
    color: black;
    background: green;
}
.PrimaveraAvanzado
{
    color: black;
    background: red;
}
.primaveraRisk
{
    color: black;
    background: #3f3ffe;
}
.seleccionCurso
{
    position: relative;
    top: 14px;
    left: 220px;
    width: 149px;
}
.cursos
{
    position: relative;
    top: 14px;
    left: 90px;
}
.notasClases
{
    position: relative;
    top: 15px;
    right: 50px;
}
.agregarNotas
{
    position: relative;
    top: 20px;
    left:260px;
}
.calendarioNotas
{
    position: relative;
    top: 25px;
    left: 100px;

}
.bBuscar
{
    position: relative;
    top: 10px;
    left: 270px;
}
.mensajeAlert
{
    color: #FF0000;
    position: relative;
    right: 200px;
    top: 40px;
}
.check

{
    position: relative;
    top: 10px;
    left: 100px;
     color: #336699;
     font-size: 16px;
}
.errorVacio
{
    position: relative;
    bottom: 20px;
    color: red;
    right: 140px;
    
}
.errorAgregar
{
    position: relative;
    top: 20px;
    color: red;
    right: 140px;
}