body {
    width: 100%;
}

.titulo
{
    width: 550px;
    color: #336699;
    font-family: Calibri;
    font-size: 18px;
    position: relative;
    left: 210px;
    font-family: "Tahoma";
    bottom: 7px;

}
.centro
{
    width: 70px;
}

.fecha
{
   color: #336699;
    font-size: medium;
    font-family: "Tahoma";
    position:relative;
    right: 150px;

}

.alertMessage
{
    
    color: #FF0000;
    position:relative;
    right: 65px;
    text-align: left;
    top: 40px;
}
.alertMessage2
{
    color: #00ff21;
    position:relative;
    right: 145px;
    text-align: left;
    top: -1px;
}

.Menu
{
    position:relative;
    width: 151px;
    height: 23px;
    font-size: small;
    left: 245px;
    
}

.labelMenu
{
    color: #336699;
    font-size: 16px;
    font-family: "Tahoma";
    position:relative;
    left: 245px;
    
}
.tdIzquierdo
{
    width: 34px;
    color: #336699;
    text-align: right;
    font-size: 16px;
}

.text
{
    color: #336699;
    position: relative;
    right: -245px;
    text-align:right;
    top: -1.5px;

}

.autocomplete_completionListElement
{
    margin: 0px !important;
    padding:0 0 0 1px;
    background-color:White;
    color: windowtext;
    border: buttonshadow;
    border-width: 1px;
    border-style: solid;
    cursor: 'default';
    height: 60px;
    width:auto;
    overflow:auto;
    text-align: left;
    list-style: none;
}
.tituloSeccion
{
    width: 153px;
    color : #336699;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    font-family: "Tahoma";
    position:relative;
    right: -225px;
    top: 5px;
    height: 50px;
    
}

.label
{
    color: #336699;
    font-size: large;
    font-family: "Tahoma";
}
.box
{
    position: relative;
    left: 245px;
    width: 145px;
    height: 20px;
    font-size: 11px;
    top: 0px;
    
}
.sexBox
{
    position:relative;
    left: 245px;
    width: 35px;
    height: 20px;
    top: -1px;
}
.IngresoBox
{
    position:relative;
    left: 245px;
    width: 81px;
    height: 20px;
    top: -1px;
}
.boxSiglas{
    position:relative;
    right: 0px;
    top: 100px;
}
.boton
{
    position:relative;
    left: 245px;
    top: 10px;
}
.espaciado
{
    height: 80px;
    width: 500px;
}
.espaciado2
{
    width: 350px;
}
.botonBusqueda
{
    position:relative;
    height: 25px;
    left: 180px;
    top: 8px;
}
.boxRutBusqueda
{
    position:relative;
    left: 180px;
    width: 147px;
    height: 20px;
    top: 8px;
}
.mensajeRut
{
    position:relative;
    left: 190px;
    top:8px;
   
}
.listaCursos
{
    position: relative;
    width: 00px;
    top: 5px;
    left: 0px;
}

.text2
{
    color: #336699;
    position: relative;
    left: 0px;
    text-align:right;
    top: -1.5px;
}
.eCurso
{
    position: relative;
    right: -245px;
    width: 150px;
    height: 20px;
    top: -1px;
}

.botoCertificado
{
    position: relative;
    right: 65px;
    height: 23px;
    bottom: 1px;
}

.botonDiploma
{
    position: relative;
    right: 70px;
    height: 24px;
    bottom: 1px;
}

.sigla
{
    position: relative;
    left: 245px;
    top: 0px;
}

.barras
{
    position: relative;
    left: 50px;
    color: #336699;
    font-size: medium;
    font-family: "Tahoma";
    text-align: center;
}

.mAsistencia
{
    position: relative;
    right: 300px;
    color: red;
}
.cursoBoton
{
    position: relative;
    top: 3.5px;
    right: 340px;
    Width: 23px;
}
.bCalendario
{
    position: relative;
    top: 0px;
    right: 330px;
    Width: 31px;
    Height: 22px;
}
.errorCalendario
{
    position: relative;
    bottom: 25px;
    right: 250px;

}

.errorCalendario2
{
    position: relative;
    bottom: 25px;
    right: 160px;
}
.primaveraBasico
{
    color: black;
    background: green;
}
.PrimaveraAvanzado
{
    color: black;
    background: red;
}
.primaveraRisk
{
    color: black;
    background: #3f3ffe;
}
.bAgregar
{
    position: relative;
    height: 26px;
    left: 244px;
    top: 0px;
}
.bModificarEmpleado
{
    position: relative;
    left: 245px;
    top: 0px;
}
.bModificar
{
    position: relative;
    height: 26px;
    left: 245px;
    bottom: 15px;
}
.rutEmpresa
{
    position: relative;
    left: 250px;
    color: #009900;
}
.nombreEmpresa
{
    position: relative;
    right: 40px;
    color: #FF0000
}
.bagregarRegistro
{
    position: relative;
    left: 122px;
     width: 118px;
}
.bModificarCliente
{
    position: relative;
    left: 123px;
    width: 118.5px;
}
.porcentaje
{
    text-align: right;
    color: blue;
    position: relative;
    right: 295px;
    
}
.notaAlert
{
    text-align: justify;
    color: red;
    position: relative;
    left: 130px;
    bottom: 105px;
}
