body {
    width: 100%;
}

 .titulo
{
    color: #336699;
    font-size: large;
}
.autocomplete_completionListElement
{
    margin: 0px !important;
    padding:0 0 0 1px;
    background-color:White;
    color: windowtext;
    border: buttonshadow;
    border-width: 1px;
    border-style: solid;
    cursor: 'default';
    height: 60px;
    width:auto;
    overflow:auto;
    text-align: left;
    list-style: none;
}
.ancho
{
    width: 817px;
}
.calendario
{
     Height: 24px;
     Width:26px;
     position: relative;
     top: 7px;
}